.grocery-shopping-card {
  position: relative;
  transition: 0.4s;

  .grocery_body {
    h4 {
      color: white;
    }
    .details {
      font-size: 16px;
      padding: 3px 18px;
      border: navajowhite;
      outline: navajowhite;
      background: #ffffffbf;
      border-radius: 10px;
      margin-top: 8%;
      svg {
        color: black;
        font-size: 13px;
        margin-top: 10px;
      }
    }
    svg {
      color: white;
      font-size: 40px;
      font-weight: 800;
      transition: 0.3s;
      margin-bottom: 14px;
      cursor: pointer;
      :hover {
        color: #fdd670;
        transition: 0.3s;
      }
    }
    span {
      color: #fdd670;
      font-size: 40px;
      padding: 9px 13px;
      margin-top: 20px;
    }
    h2 {
      color: white;
      padding-top: 10%;
      padding-bottom: 15%;
    }
    position: absolute;
    top: 60%;
    left: 25%;
    visibility: hidden;
  }
  .grocery_card {
    position: absolute;
    top: 0;
  }
}
.grocery-shopping-card:hover .grocery_body {
  visibility: visible;
  background: rgba(0, 0, 0, 0.479);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  // bottom: 10;
  transition: 0.4s;
}
