.shopping-cart-header {
  img {
    width: 50px;
  }
  h5 {
    display: inline;
    font-size: 20px;
    font-weight: 700;
    color: gray;
  }
  button {
    outline: none;
    border: 1px solid black;
    background-color: white;
    padding: 1px 10px;
    color: red;
    font-size: 17px;
    font-weight: 500;
    margin-right: 5%;
    border-radius: 2px;
  }
}
.express {
  font-size: 15px;
  font-weight: 700;
  padding: 6px 11px;
  background: #ddd;
}
.place-order {
  margin: 10px 10px;

  .place,
  h5 {
    background-color: #ff8182;
    padding: 7px 0px;
    width: 100%;
    padding: 10px 5px;
    color: white;
  }
  h5 {
    background-color: #e04f54;
    width: 50%;
  }
}
.fixed_cart {
  .item {
    background: #0000007d;
    padding: 3px;
    transition: 0.3s;
    &:hover {
      background: #000000c0;
      color: white;
      transition: 0.3s;
    }

    svg {
      width: 100%;
      font-size: 30px;
      color: white;
    }
    h5 {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .price-item {
    background: #db3d45ea;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    h6 {
      color: white;
      font-weight: 500;
      margin-top: -7px;
    }
  }
  width: 60px;
  height: 60px;
  right: 0%;
  top: 50%;
  position: fixed;
  z-index: 1;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 10px 23px 32px gray;
}
