.grocery-section {
  border-bottom: 1px solid #ddd;
  .image-with-groceryName {
    .image {
      img {
        width: 60px;
      }
    }
    .price {
      float: right;
      svg {
        font-weight: 200;
        :hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }
  .button-with-quantity {
    padding-right: 10px;
    svg {
      display: inline;
      font-size: 20px;
      font-weight: 900;
      cursor: pointer;
    }
  }
}
p {
  margin-top: 0;
  margin-bottom: 0px;
  padding-bottom: 5px;
}
