.checkout {
  .add_address_item,
  .raver_bag {

    .delivery_address {
      border-bottom: 1px solid rgb(100, 96, 96);
      padding: 8px 8px;
      margin-bottom: 4%;
      background: #f8f8f8;
   
    }
    .button {
      padding: 0px 10%;
    }

    border: 1px solid #d6cdcd;
    padding-bottom: 20px;
    margin-top: 4%;
    color: #464242b0;
    margin-left: 10%;

    h4 {
      font-size: 16px;
    }
    svg {
      font-size: 20px;
      margin-right: 13px;
    }
  }
  .raver_bag {
    border: 1px solid #d6cdcd;
  }
  @media screen and (max-width: 750px) {
    .amount,
    .process_checkout  {
      margin-right: 35%;
    }
    .top-image{
      margin-left: 30px;
    }
  }
  .amount,
  .process_checkout {

    button {
      outline: none;
      border: none;
   
    }

    border-radius: 5px;
    
    @media screen and (max-width: 800px) {
      .raver_bag,.add_address_item  {
        margin-right: 35%;
        margin-left: 10%;
      }
 
    }
    .process {
      background: #ff686e;
      box-shadow: 10px 10px 10px gray;
      
    }
    .process2 {
      background: #e04f54;
    }
    .process2,
    .process {
      padding: 6px 5px;
      color: white;
      font-size: 24px;

    }
  
  }
}


